# Mengupdate dan Mencocokkan Data Semester Sebelumnya dengan yang Sekarang

In [26]:
import pandas as pd
import numpy as np

# File CSV Nilai terbaru saat ini
data1 =  pd.read_csv('Angkatan 2023\Pendidikan_Agama_Softskill.csv')

# File Excel berisi database Email yang telah direkap di sebelumnya (Bisa saja lebih dari 2 karena 2023 sudah ada 4 jurusan)
data2 = pd.read_excel('2023_D3MI_daftar_mahasiswa.xlsx')
data3 = pd.read_excel('2023_D3TI_daftar_mahasiswa.xlsx')
#data4 = pd.read_excel('2023_D4SIB_daftar_mahasiswa.xlsx')
#data5 = pd.read_excel('2023_D4TRII_daftar_mahasiswa.xlsx')

In [27]:
# Gabungkan data semua kelas di semester sekarang dan drop nilai NaN
frames = [data2, data3]  #JIKA ADA 2 kelas
#frames = [data2, data3, data4, data5]  #JIKA ADA 4 kelas
result = pd.concat(frames)
result = result[['Email']].dropna()
result

                           Email
0          adilfon2002@gmail.com
1           ayuasary64@gmail.com
2    derminamaharaja04@gmail.com
3   wahyusaputroeko538@gmail.com
4          whyuuuputro@gmail.com
..                           ...
45       otonigiawa999@gmail.com
46       ayuenjeli2002@gmail.com
47     yurniwaruwu2023@gmail.com
48          siskahia54@gmail.com
50          alfisaldi3@gmail.com

[170 rows x 1 columns]

In [28]:
# Hanya membandingkan kolom Email dan drop data NaN
daftar_email_data1 = data1[['Email Address']].dropna()
daftar_email_data1 = daftar_email_data1.rename(columns={'Email Address': 'Email'}) # Ubah nama header menjadi 'Email'
daftar_email_data1

                                Email
2           adindanofitri12@gmail.com
3              afnisinaga50@gmail.com
4              sinagaafnika@gmail.com
5                hardjaagus@gmail.com
6           agustinusgulo71@gmail.com
..                                ...
167             laolimawati@gmail.com
168           rianitamba762@gmail.com
169           pasaribusaul0@gmail.com
170  tetymardianabawamenewi@gmail.com
171            ypasaribu518@gmail.com

[170 rows x 1 columns]

# Hasil Akhir

In [29]:
# Periksa Apakah email di data semester sebelumnya: daftar_email_data1['Email'] tidak ada di data terbaru: result['Email']
not_in_result_values = daftar_email_data1.loc[~daftar_email_data1['Email'].isin(result['Email']), 'Email'].tolist()

# Jika ada, print daftarnya
not_in_result_values = pd.DataFrame(not_in_result_values, columns=['Email Baru'])
not_in_result_values

Empty DataFrame
Columns: [Email Baru]
Index: []

In [30]:
#not_in_result_values.to_excel("new_data.xlsx")