# Mengupdate dan Mencocokkan Data Semester Sebelumnya dengan yang Sekarang

In [40]:
import pandas as pd
import numpy as np

# Database Email Semester Sebelumnya Per Angkatan
data1 =  pd.read_csv('Angkatan 2023\Pendidikan_Agama_Softskill.csv')

# Database Email terbaru di Semester Sekarang (Bisa saja lebih dari dua karena 2023 sudah ada 4 jurusan)
data2 = pd.read_excel('2023_D3MI_daftar_mahasiswa.xlsx')
data3 = pd.read_excel('2023_D3TI_daftar_mahasiswa.xlsx')
# data4 = pd.read_excel('2023_D4SIB_daftar_mahasiswa.xlsx')
# data5 = pd.read_excel('2023_D4TIIN_daftar_mahasiswa.xlsx')

In [41]:
# Gabungkan data semua kelas di semester sekarang dan drop nilai NaN
frames = [data2, data3]  #bisa tambahkan lebih dari 2 kelas
result = pd.concat(frames)
result = result[['Email']].dropna()
result

                            Email
0           adilfon2002@gmail.com
4     derminamaharaja04@gmail.com
7    wahyusaputroeko538@gmail.com
8           whyuuuputro@gmail.com
11         giawaerika66@gmail.com
..                            ...
48  muhammadfahrian1997@gmail.com
50        arismahmud300@gmail.com
51          hermangea80@gmail.com
52       rindasiahaan18@gmail.com
53        siahaanrinda7@gmail.com

[128 rows x 1 columns]

In [42]:
# Hanya membandingkan kolom Email dan drop data NaN
daftar_email_data1 = data1[['Email Address']].dropna()
daftar_email_data1 = daftar_email_data1.rename(columns={'Email Address': 'Email'}) # Ubah nama header menjadi 'Email'
daftar_email_data1

                          Email
2     adindanofitri12@gmail.com
3        afnisinaga50@gmail.com
4    agustinusgulo489@gmail.com
5           lex251202@gmail.com
6    channelaljunlaia@gmail.com
..                          ...
129   lewi1209natalia@gmail.com
130        niki150902@gmail.com
131       laolimawati@gmail.com
132     rianitamba762@gmail.com
133     pasaribusaul0@gmail.com

[132 rows x 1 columns]

# Hasil Akhir

In [43]:
# Periksa Apakah email di data semester sebelumnya: daftar_email_data1['Email'] tidak ada di data terbaru: result['Email']
not_in_result_values = daftar_email_data1.loc[~daftar_email_data1['Email'].isin(result['Email']), 'Email'].tolist()

# Jika ada, print daftarnya
not_in_result_values = pd.DataFrame(not_in_result_values, columns=['Email Baru'])
not_in_result_values

                                 Email Baru
0  rindusimangunsongrindusimangun@gmail.com
1                   sellyzllahagu@gmail.com
2             sopiantisaleleubaja@gmail.com
3                     wilisdohare@gmail.com