# Mengupdate dan Mencocokkan Data Semester Sebelumnya dengan yang Sekarang

In [12]:
import pandas as pd
import numpy as np

# File CSV Nilai terbaru saat ini
data1 =  pd.read_csv('Angkatan 2024\ALGORITMA_DAN_PEMROGRAMAN_II.csv')

# File Excel berisi database Email yang telah direkap di sebelumnya (Bisa saja lebih dari 2 karena 2023 sudah ada 4 jurusan)
data2 = pd.read_excel('2024_daftar_mahasiswa.xlsx')
#data3 = pd.read_excel('2023_D3TI_daftar_mahasiswa.xlsx')
#data4 = pd.read_excel('2023_D4SIB_daftar_mahasiswa.xlsx')
#data5 = pd.read_excel('2023_D4TRII_daftar_mahasiswa.xlsx')

In [13]:
# Gabungkan data semua kelas di semester sekarang dan drop nilai NaN
frames = [data2]  #JIKA ADA 1 kelas
#frames = [data2, data3]  #JIKA ADA 2 kelas
#frames = [data2, data3, data4, data5]  #JIKA ADA 4 kelas
result = pd.concat(frames)
result = result[['Email']].dropna()
result

                               Email
0              cindilase21@gmail.com
1           jernihzebua443@gmail.com
3          srysiringoringo@gmail.com
4         sipayungtirawati@gmail.com
5    yunitatumanggor05.uli@gmail.com
..                               ...
266          hermantotel24@gmail.com
267            afininur081@gmail.com
268         naibahovramita@gmail.com
269     harnumsimarmata485@gmail.com
272       jupensihombing83@gmail.com

[175 rows x 1 columns]

In [14]:
# Hanya membandingkan kolom Email dan drop data NaN
daftar_email_data1 = data1[['Email Address']].dropna()
daftar_email_data1 = daftar_email_data1.rename(columns={'Email Address': 'Email'}) # Ubah nama header menjadi 'Email'
daftar_email_data1

                            Email
2        anjelinazega27@gmail.com
3             pkuoppo34@gmail.com
4      adelubishidayani@gmail.com
5         alfansgiawa57@gmail.com
6    ambrosiusleaumanai@gmail.com
..                            ...
168          rendijuanj@gmail.com
169     srysiringoringo@gmail.com
170      tegarrisgidion@gmail.com
171   yehezkielkudadiri@gmail.com
172  yogisaputratobing7@gmail.com

[171 rows x 1 columns]

# Hasil Akhir

In [15]:
# Periksa Apakah email di data semester sebelumnya: daftar_email_data1['Email'] tidak ada di data terbaru: result['Email']
not_in_result_values = daftar_email_data1.loc[~daftar_email_data1['Email'].isin(result['Email']), 'Email'].tolist()

# Jika ada, print daftarnya
not_in_result_values = pd.DataFrame(not_in_result_values, columns=['Email Baru'])
not_in_result_values

                            Email Baru
0             fikayourbae346@gmail.com
1  namadepannamabelakang2387@gmail.com

In [16]:
# Details of the name database not contain in the old database
temp = data1.rename(columns={'Email Address': 'Email'}).drop(data1.columns[3:], axis=1)
filtered_df = temp[temp['Email'].isin(not_in_result_values['Email Baru'])]
filtered_df

     Last Name First Name                                Email
48     Yourbae       Fika             fikayourbae346@gmail.com
119  Alexander          S  namadepannamabelakang2387@gmail.com

In [17]:
#not_in_result_values.to_excel("new_data.xlsx")