# Buka File di Direktori

In [55]:
import pandas as pd
import numpy as np

# Database (File Excel) untuk menyimpan nilai final
dataset =  pd.read_excel('2023_D3MI_daftar_mahasiswa.xlsx')

# Daftar nilai
nilai = pd.read_csv('Angkatan 2023\MANAJEMEN_PROYEK_IT.csv')

# Membersihkan data

In [56]:
# Ubah semua huruf alamat email menjadi huruf kecil
nilai = nilai.rename(columns={'Email Address': 'Alamat Email'}) # Ubah nama header 'Email Address' menjadi 'Alamat Email' jika perlu
dataset['Email'] = dataset['Email'].str.lower()
nilai['Alamat Email'] = nilai['Alamat Email'].str.lower()

# mendapatkan daftar header nilai
nilai_head = list(nilai.columns)
dataset_head = list(dataset.columns)

# tambahkan kolom kosong baru seperti nilai absensi, tugas dll
dataset = dataset.reindex(columns = dataset.columns.tolist() + nilai_head[3:])
dataset

,No,NIM,Nama,Email,Absensi Pertemuan 01 & 02,Absensi Pertemuan 03 & 04,Absensi Pertemuan 05 & 06,UTS (Ujian Tengah Semester),Absensi Pertemuan 08,Absensi Pertemuan 09,Absensi Pertemuan 10,Absensi Pertemuan 11,Absensi Pertemuan 12,Absensi Pertemuan 13,UAS (Ujian Akhir Semester)
0,1,202301001,ADILFON NEHE,adilfon2002@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,202301003,AYU ASARI TARIHORAN,ayuasary64@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,202301004,CHANDRA ARDIANSYAH HASIBUAN,syakillajasmine26@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,202301005,DERMINA MAHARAJA,derminamaharaja04@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,202301006,DEWI ANA FITRI NASUTION,dewiananasution50@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,57,202301059,M. NAZRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,58,202301060,RUDI RESKAVI,rudisyaputra889900@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,58,202301060,RUDI RESKAVI,rudibg1234@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,59,202301061,RAHEL FITRI A SIAHAAN,siahaanrahel835@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,60,202301063,JONATHAN HOSE SIHOMBING,jonathanhose08@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Mencocokkan Data

In [57]:
# yang berisi NaN tidak perlu dibandingkan
periksa_dataset = dataset['Email'].isnull()

for i in range(0,len(dataset)):
    if(~periksa_dataset[i]):
        for j in range(0,len(nilai)):
            if(dataset['Email'][i]==nilai['Alamat Email'][j]):
                for k in range(3,len(nilai_head)):
                    dataset[nilai_head[k]][i] = nilai[nilai_head[k]][j]

C:\Users\HP\AppData\Local\Temp\ipykernel_20168\3722169574.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[nilai_head[k]][i] = nilai[nilai_head[k]][j]

In [58]:
dataset

,No,NIM,Nama,Email,Absensi Pertemuan 01 & 02,Absensi Pertemuan 03 & 04,Absensi Pertemuan 05 & 06,UTS (Ujian Tengah Semester),Absensi Pertemuan 08,Absensi Pertemuan 09,Absensi Pertemuan 10,Absensi Pertemuan 11,Absensi Pertemuan 12,Absensi Pertemuan 13,UAS (Ujian Akhir Semester)
0,1,202301001,ADILFON NEHE,adilfon2002@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,202301003,AYU ASARI TARIHORAN,ayuasary64@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,202301004,CHANDRA ARDIANSYAH HASIBUAN,syakillajasmine26@gmail.com,100.0,100.0,100.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,NaN
3,4,202301005,DERMINA MAHARAJA,derminamaharaja04@gmail.com,100.0,100.0,100.0,NaN,0.0,0.0,100.0,0.0,100.0,0.0,NaN
4,5,202301006,DEWI ANA FITRI NASUTION,dewiananasution50@gmail.com,NaN,100.0,100.0,NaN,100.0,100.0,100.0,100.0,100.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,57,202301059,M. NAZRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,58,202301060,RUDI RESKAVI,rudisyaputra889900@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,58,202301060,RUDI RESKAVI,rudibg1234@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,59,202301061,RAHEL FITRI A SIAHAAN,siahaanrahel835@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,60,202301063,JONATHAN HOSE SIHOMBING,jonathanhose08@gmail.com,100.0,100.0,100.0,NaN,0.0,100.0,100.0,100.0,100.0,100.0,NaN

In [59]:
dataset = dataset.reindex(sorted(dataset.columns), axis=1)

first_cols = dataset_head[:4]
last_cols = [col for col in dataset.columns if col not in first_cols]

dataset = dataset[first_cols+last_cols]

In [60]:
dataset.to_excel("output.xlsx")

# writer = pd.ExcelWriter('output.xlsx',
#                         engine='xlsxwriter',
#                         options={'strings_to_numbers': True})